{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="page-header">Add Issue</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" class="btn btn-primary" value="Create">
    {{ form_end(form) }}
{% endblock %}